# Virtual Environment
venv/
.env/
.env.bak/
.venv/

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

*.jpg
*.png
*.jpeg
*.webp
*.zip
*.csv
*.avif
*.tex
*.gif

# Modelos PyTorch e arquivos grandes
*.pth
*.pt
*.pkl
*.h5
*.hdf5

# Diretórios de processamento
backend/processed/
backend/uploads/
backend/temp/
backend/logs/

# Arquivos de imagem processados
frontend/public/processed/
frontend/public/uploads/